<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <title>Add or edit product</title>
    <link href="/main.css" rel="stylesheet" />
    <style>
        .content{
            max-width: 500px;
            margin: auto;
            margin-top: 100px;
        }
        #footer{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        table {
            border-collapse: separate;
            border-spacing: 25px 0;
        }
        table {
            border-collapse: separate;
            border-spacing: 25px 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container px-4">
        <a class="navbar-brand" href="/">Oficerski 1937</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/products">Сите продукти</a></li>
                <li class="nav-item"><a class="nav-link" href="/bills">Сметки</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Контакт</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Одјави се</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="content">
       <form method="POST" th:action="@{'/products/{id}' (id=${product?.id}) }" >
            <div class="form-group row" >
                <label for="name" class="col-sm-2 col-form-label">Име:</label>
                <div class="col-sm-10">
                    <input type="text" placeholder="Име" class="form-control" id="name"  name="name" th:value="${product?.name}" required="required">
                </div>
            </div>

           <div class="form-group row" >
               <label for="description" class="col-sm-2 col-form-label">Опис:</label>
               <div class="col-sm-10">
                   <input type="text" placeholder="Опис" class="form-control" id="description"  name="description" th:value="${product?.description}" required="required">
               </div>
           </div>

           <div class="form-group row" >
               <label for="price" class="col-sm-2 col-form-label">Цена:</label>
               <div class="col-sm-10">
                   <input type="number" placeholder="Цена" class="form-control" id="price"  name="price" th:value="${product?.price}" required="required">
               </div>
           </div>

           <div class="form-group row" >
               <label for="quantity" class="col-sm-2 col-form-label">Количина:</label>
               <div class="col-sm-10">
                   <input type="number" placeholder="Количина" class="form-control" id="quantity"  name="quantity" th:value="${product?.quantity}" required="required">
               </div>
           </div>

           <div class="form-group row">
                <label for="manufacturer"  class="col-sm-2 col-form-label">Произведувач:</label>
               <div class="col-sm-10" >
                    <select id="manufacturer" name="manufacturer" class="form-select" size="3" aria-label="size 3 select example">
                        <option th:each="manu : ${manufacturers}" th:value="${manu.id}" > <th:block th:text="${manu.name}" ></th:block> </option>
                    </select>
               </div>
           </div>

            <br>
           <button type="submit" class="btn btn-dark">Внеси продукт</button>
       </form> <br>
        <a class="btn btn-dark" role="button" href="/products"> << Назад</a> <br>
    </div>
</body>
</html>